extends ./layouts/main

block beforeContent
    style.
        .day h1 {
            margin: 0;
        }

block content
    for day, dayName in days
        .day(id=dayName.toLowerCase())
            .title.styled
                - var daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
                h1 #{dayName}
            for episode in day
                .show.styled
                    img(src="/poster/show/" + episode.showId.id + "?type=banner")
                    .description(style="padding: 5px;") #{episode.showId.overview}
