html
    head
        title= title || 'tv and movie thing'
        link(href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css", rel="stylesheet", type="text/css")
        link(href="/css/main.css", rel="stylesheet", type="text/css")
    body
        #header
            nav.nav
                ul
                    li
                        a(href="/", class=(currentPath == '/' ? 'currentPage' : '')) Home
                    li
                        a(href="/admin", class=(currentPath == '/admin' ? 'currentPage' : '')) Admin
                    li
                        a(href="/admin/shows/new", class=(currentPath == '/admin/shows/new' ? 'currentPage' : '')) Add new show
                    li
                        a(href="/comingSoon", class=(currentPath == '/shows/comingSoon' ? 'currentPage' : '')) Coming episodes
                    li
                        a(href="/history", class=(currentPath == '/shows/history' ? 'currentPage' : '')) Recently Added
                    li
                        a(href="/admin/logs", class=(currentPath == '/admin/logs' ? 'currentPage' : '')) Logs
                    li
                        a(href="/admin/settings/general", class=(currentPath == '/admin/settings/general' ? 'currentPage' : '')) Config
        block beforeContent
        .container
            block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js")
    script(src="/js/main.js")
    block scripts
